@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  color: var(--primary-text-color);
  background-color: var(--special-backgr-color);

  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
}

main {
  padding-top: 15px;
  padding-bottom: 50px;
}
