:root {
  --primary-text-color: #292d32;
  --menu-text-color: #9197b3;
  --title-text-color: #000000;
  --second-text-color: #b5b7c0;
  --accent-color: #5932ea;
  --main-backgr-color: #ffffff;
  --special-backgr-color: #fafbff;
  --btn-inactive-text-color: #df0404;
  --btn-active-text-color: #008767;
  --btn-inactive-backgr-color: #ffc5c5;
  --btn-active-backgr-color: #16c09861;
  --pagination-backgr-color: #f5f5f5;
  --pagination-text-color: #404b52;
  --detail-color: #eeeeee;
}
