<aside class="menu">
  <ul>
    <li class="menu__item">
      <svg class="menu__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-key-square"></use>
      </svg>
      <p class="menu__title">Dashboard</p>
    </li>
    <li class="menu__item">
      <div class="menu__title-wrap">
        <svg class="menu__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-d-square"></use>
        </svg>
        <p class="menu__title">Product</p>
      </div>

      <svg class="menu__chevron-right" width="16" height="16">
        <use href="./images/icons.svg#icon-chevron-right"></use>
      </svg>
    </li>
    <li class="menu__item menu__item--current">
      <div class="menu__title-wrap">
        <svg class="menu__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-user-square"></use>
        </svg>
        <p class="menu__title menu__title--current">Customers</p>
      </div>

      <svg class="menu__chevron-right" width="16" height="16">
        <use href="./images/icons.svg#icon-chevron-right-current"></use>
      </svg>
    </li>
    <li class="menu__item">
      <div class="menu__title-wrap">
        <svg class="menu__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-wallet-money"></use>
        </svg>
        <p class="menu__title">Income</p>
      </div>

      <svg class="menu__chevron-right" width="16" height="16">
        <use href="./images/icons.svg#icon-chevron-right"></use>
      </svg>
    </li>
    <li class="menu__item">
      <div class="menu__title-wrap">
        <svg class="menu__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-discount-shape"></use>
        </svg>
        <p class="menu__title">Promote</p>
      </div>

      <svg class="menu__chevron-right" width="16" height="16">
        <use href="./images/icons.svg#icon-chevron-right"></use>
      </svg>
    </li>
    <li class="menu__item">
      <div class="menu__title-wrap">
        <svg class="menu__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-message-question"></use>
        </svg>
        <p class="menu__title">Help</p>
      </div>

      <svg class="menu__chevron-right" width="16" height="16">
        <use href="./images/icons.svg#icon-chevron-right"></use>
      </svg>
    </li>
  </ul>
</aside>
