<main>
  <!-- <h1>Hello</h1> -->
  <section class="section">
    <div class="section__title-wrap">
      <div>
        <h2 class="section__title">All Customers</h2>
        <p class="section__text">Active Members</p>
      </div>
      <input class="input" placeholder="Search" />
      <svg class="input__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-search-1"></use>
      </svg>
    </div>
    <table class="table"></table>
    <div class="pagination">
      <p class="pagination__text">Showing data 1 to 8 of 256K entries</p>
      <div>
        <ul class="pagination__list">
          <li class="pagination__item">
            <svg class="menu__chevron-right" width="8" height="12">
              <use href="./images/icons.svg#icon-left-arrow"></use>
            </svg>
          </li>
          <li class="pagination__item pagination__item--current">1</li>
          <li class="pagination__item">2</li>
          <li class="pagination__item">3</li>
          <li class="pagination__item">4</li>
          <li class="pagination__item">...</li>
          <li class="pagination__item">40</li>
          <li class="pagination__item">
            <svg class="menu__chevron-right" width="8" height="12">
              <use href="./images/icons.svg#icon-right-arrow"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
