.conteiner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 28px;

  @include mobile {
    max-width: 580px;
  }
  @include tablet {
    max-width: 999px;
  }
  @include desktop {
    max-width: 1440px;
  }
}
