.header {
  padding: 36px 0;
}

.header__conteiner {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  display: block;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.logo__text {
  color: var(--title-text-color);
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.26px;
}

.logo__series {
  position: absolute;
  left: 227px;
  top: 20px;
  color: #838383;
  font-size: 10px;
  letter-spacing: -0.1px;
}

.header__text {
  color: var(--title-text-color);
  font-size: 24px;
  margin-left: 154px;
}
