.section {
  position: relative;
  padding: 15px;
  background-color: var(--main-backgr-color);
  border-radius: 30px;

  @include tablet {
    margin-left: 349px;
    padding: 30px 40px 40px;
  }
}

.section__title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__title {
  margin-bottom: 7px;
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.22px;

  @include tablet {
    font-size: 22px;
  }
}

.section__text {
  color: #16c098;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.14px;

  @include tablet {
    font-size: 14px;
  }
}

.input {
  width: 180px;
  padding: 10px 10px 10px 40px;
  background-color: var(--special-backgr-color);
  border-radius: 10px;
  border-color: transparent;
  color: var(--second-text-color);
  font-size: 10px;

  @include tablet {
    width: 216px;
    font-size: 12px;
  }
}

.input__icon {
  position: absolute;
  right: 170px;

  @include tablet {
    right: 220px;
  }
}

.table__wrap {
  margin-bottom: 20px;
  @media screen and (max-width: 999px) {
    overflow-x: scroll;
  }

  @include tablet {
    margin-bottom: 32px;
  }
}

.table {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 20px;

  th,
  td {
    font-size: 12px;
    font-weight: 500;
    text-align: start;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--detail-color);

    th:nth-child(1) {
      color: #16c098;
    }

    @include tablet {
      font-size: 14px;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}

.table__header {
  color: var(--second-text-color);
}

.table__data {
  display: block;
  width: 65px;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--btn-inactive-text-color);
  border: 1px solid var(--btn-inactive-text-color);
  background: var(--btn-inactive-backgr-color);

  @include tablet {
    width: 80px;
    padding: 4px 12px;
  }
}

.table__data--active {
  display: block;
  width: 65px;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--btn-active-text-color);
  border: 1px solid var(--btn-active-text-color);
  background: var(--btn-active-backgr-color);

  @include tablet {
    width: 80px;
    padding: 4px 12px;
  }
}

.pagination {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.pagination__text {
  color: var(--second-text-color);
  margin-bottom: 10px;
  font-size: 12px;

  @include tablet {
    margin-bottom: 8px;
    font-size: 14px;
  }
}

.pagination__list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.pagination__item {
  width: 24px;
  height: 24px;
  padding: 6px 0;
  text-align: center;
  border-radius: 4px;
  color: var(--pagination-text-color);
  font-size: 10px;
  border: 1px solid var(--detail-color);
  background-color: var(--pagination-backgr-color);

  @include tablet {
    font-size: 12px;
  }
}

.pagination__item--current {
  border: 1px solid var(--accent-color);
  background: var(--accent-color);
  color: #ffffff;
}
