.section {
  position: relative;

  margin-left: 349px;
  padding: 30px 40px 40px;
  background-color: var(--main-backgr-color);
  border-radius: 30px;

  @include desktop {
    width: 968px;
  }
}

.section__title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__title {
  margin-bottom: 7px;
  color: var(--title-text-color);
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.22px;
}

.section__text {
  color: #16c098;
  font-weight: 400;
  letter-spacing: -0.14px;
}

.input {
  width: 216px;
  padding: 10px 10px 10px 40px;
  background-color: var(--special-backgr-color);
  border-radius: 10px;
  border-color: transparent;
  color: var(--second-text-color);
  font-size: 12px;
}

.input__icon {
  position: absolute;
  right: 220px;
}

.table {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;

  th,
  td {
    font-weight: 500;
    padding-top: 24px;
    text-align: start;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--detail-color);
  }
}

.table__header {
  color: var(--second-text-color);
}

.table__data {
  display: block;
  width: 80px;
  text-align: center;
  padding: 4px 12px;
  border-radius: 4px;
  color: var(--btn-inactive-text-color);
  border: 1px solid var(--btn-inactive-text-color);
  background: var(--btn-inactive-backgr-color);
}

.table__data--active {
  display: block;
  width: 80px;
  text-align: center;
  padding: 4px 12px;
  border-radius: 4px;
  color: var(--btn-active-text-color);
  border: 1px solid var(--btn-active-text-color);
  background: var(--btn-active-backgr-color);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__text {
  color: var(--second-text-color);
}

.pagination__list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.pagination__item {
  width: 24px;
  height: 24px;
  padding: 6px 0;
  text-align: center;
  border-radius: 4px;
  color: var(--pagination-text-color);
  font-size: 12px;
  border: 1px solid var(--detail-color);
  background-color: var(--pagination-backgr-color);
}

.pagination__item--current {
  border: 1px solid var(--accent-color);
  background: var(--accent-color);
  color: #ffffff;
}
